@import url(https://fonts.googleapis.com/css?family=Arimo:400,400italic,700&subset=cyrillic,latin);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&subset=latin,cyrillic);
body {
  background-color: white;
  font-family: 'Arimo', sans-serif;
  font-size: 16px;
  color: #363636;
}
h1,
h2,
h3,
h4,
h6,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0px;
}
a {
  color: #25aae1;
  transition: color 0.2s ease-in-out;
}
a:hover {
  color: #25aae1;
  text-decoration: underline;
}
a:focus,
a:visited {
  color: #25aae1;
  text-decoration: none;
}
.top-header {
  margin: 15px 0;
}
.top-menu {
  background-color: #f1f2f2;
}
.social-block {
  float: left;
  padding-top: 13px;
  width: 130px;
}
.social-block .social {
  background-image: url(../img/social.png);
  background-repeat: no-repeat;
  border-radius: 50px;
  display: inline-block;
  height: 33px;
  margin: 0px 2px;
  width: 33px;
  transition: background-color 0.5s ease-in;
}
.social-block .social.social-fb {
  background-position: -3px -8px;
}
.social-block .social.social-tw {
  background-position: -43px -5px;
}
.social-block .social.social-vk {
  background-position: -94px -5px;
}
.social-block .social:hover {
  background-color: #f1f2f2;
}
.lang-block {
  float: left;
  padding-top: 13px;
  width: 80px;
}
.lang-block a {
  color: #718496;
  display: inline-block;
  font-size: 14px;
  height: 32px;
  line-height: 32px;
  width: 32px;
  text-align: center;
}
.lang-block a.current {
  background-color: #f1f2f2;
  border-radius: 50%;
  cursor: default;
  text-decoration: none;
}
.footer .lang-block {
  padding-top: 3px;
}
.search-block {
  float: right;
  margin: 15px 0;
  position: relative;
  width: 144px;
}
.search-block input[type='text'] {
  background-color: #ebebeb;
  border-radius: 15px;
  border: none;
  color: #718496;
  font-family: 'Arimo', sans-serif;
  padding: 5px 33px 5px 16px;
  width: 100%;
}
.search-block input[type="submit"] {
  background: url(../img/spritesheet.png) no-repeat -82px -20px;
  border: none;
  position: absolute;
  padding: 0;
  top: 6px;
  right: 13px;
  width: 18px;
  height: 20px;
  font-size: 0;
}
.footer .search-block {
  margin-top: 0;
}
.call-back {
  margin: 15px 0 12px;
}
.footer .call-back {
  float: left;
  margin-right: 40px;
  margin-top: 0;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .footer .call-back {
    margin-right: 10px;
  }
}
@media (max-width: 992px) {
  .header .call-back {
    float: right;
  }
}
.bttn {
  border-radius: 19px;
  display: inline-block;
  font-size: 18px;
  padding: 5px 23px;
}
.bttn-blue {
  background-color: #25aae1;
  border-bottom: 3px solid #0c82b3;
  color: white !important;
}
.bttn-with-icon {
  padding: 5px 23px 5px 13px;
}
.bttn .icon {
  margin-right: 8px;
  vertical-align: middle;
}
.bttn:hover {
  text-decoration: none;
}
.main-nav li {
  display: inline-block;
  list-style: none;
  font-size: 16px;
  padding: 15px 13px;
  text-transform: uppercase;
}
.main-nav li a {
  color: #363636;
}
.main-nav li a:hover {
  color: #25aae1;
  text-decoration: none;
}
.footer .main-nav li {
  font-size: 14px;
  padding: 0px 10px 10px 10px;
  width: 170px;
}
.footer .main-nav li a {
  color: #878787;
}
.footer {
  background: url(../img/footer.png) no-repeat center bottom white;
}
.decor-line {
  background-color: #25aae1;
  height: 24px;
  margin-top: -12px;
  width: 100%;
}
.footer-content {
  padding-top: 40px;
  padding-bottom: 40px;
}
.footer-content .left-side {
  border-right: 1px solid #f1f2f2;
}
.footer-content .copyright {
  color: #878787;
  font-size: 11px;
  padding-top: 15px;
}
@media (max-width: 768px) {
  .footer-content .copyright {
    padding-bottom: 15px;
  }
}
.footer-content .contact-block {
  color: #878787;
  clear: both;
  padding-top: 16px;
  font-size: 14px;
  text-transform: uppercase;
}
.footer-content .contact-block a {
  color: #878787;
}
.footer-content .right-side {
  padding-left: 40px;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .footer-content .right-side {
    padding-left: 0px;
  }
}
@media (max-width: 768px) {
  .footer-content .right-side {
    padding-left: 0px;
  }
}
.main-content {
  min-height: 600px;
}
.icon {
  background-image: url(../img/spritesheet.png);
  background-repeat: no-repeat;
  display: inline-block;
}
.icon.icon-call {
  background-position: -20px -20px;
  width: 22px;
  height: 17px;
}
.icon.icon-search {
  background-position: -82px -20px;
  width: 19px;
  height: 19px;
}
