@import url(https://fonts.googleapis.com/css?family=Arimo:400,400italic,700&subset=cyrillic,latin);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&subset=latin,cyrillic);
@basic-font: 16px;
@font-family: 'Arimo', sans-serif;
@font-special: 'Roboto Slab', serif;
@text-color: #363636;
@blue: #25aae1;
@light-blue: #718496;
@dark-blue: #0c82b3;
@gray-fon: #f1f2f2;
@gray-fon2: #ebebeb;
@gray-text: #878787;
@gray-text2: #555555;
@gray-dark: #dcddde;
@notebook: ~"(max-height: 800px)";
@mobile: ~"(max-width: 768px)";
@tablet: ~"(min-width: 768px) and (max-width: 992px)";
@mobile_tablet: ~"(max-width: 992px)";
@medium: ~"(min-width: 992px) and (max-width: 1200px)";

body { background-color: white; font-family: @font-family; font-size: @basic-font; color: @text-color;}
h1,h2,h3,h4,h6,h6,p,ul,li {margin: 0; padding:0px; }

a{
	color: @blue;
	transition: color 0.2s ease-in-out;
	&:hover{
		color: @blue;
		text-decoration: underline;
	}
	&:focus, &:visited{
		color: @blue;
		text-decoration: none;
	}
}
input, textarea{
	&:focus{
		outline-offset: 0 !important;
		outline: none !important;
	}
}
.top-header{
	margin: 15px 0;
}
.top-menu{
	background-color: @gray-fon;
}
.social-block{
	float: left;
	padding-top: 13px;
	width: 130px;
	.social {
	    background-image: url(../img/social.png);    
	    background-repeat: no-repeat;
	    border-radius: 50px;
	    display: inline-block;
	    height: 33px;
	    margin: 0px 2px;
	    width: 33px;
	    transition: background-color 0.5s ease-in;
	    &.social-fb {
	        background-position: -3px -8px;
	    }
	    &.social-tw {
	        background-position: -43px -5px;
	    }
	    &.social-vk {
	    	background-position: -94px -5px;
	    }
	    &:hover{
	    	background-color: @gray-fon;	    	
	    }
	}
}
.lang-block{
	float: left;
	padding-top: 13px;
	width: 80px;
	& a{
		color: @light-blue;
		display: inline-block;
		font-size: 14px;
		height: 32px;
		line-height: 32px;
		width: 32px;
		text-align: center;
		&.current{
			background-color: @gray-fon;
			border-radius: 50%;
			cursor: default;
			text-decoration: none;
		}
	}
	.footer &{
		padding-top: 3px;
	}
}
.search-block{
	float: right;
	margin: 15px 0;
	position: relative;
    width: 144px;
    & input[type='text']{
    	background-color: @gray-fon2;
    	border-radius: 15px;
    	border: none;
    	color: @light-blue;
    	font-family: @font-family;
    	padding: 5px 33px 5px 16px;
    	width: 100%;
    }
    & input[type="submit"]{
		background: url(../img/spritesheet.png) no-repeat -82px -20px;
	    border: none;
	    position: absolute;
	    padding: 0;
	    top: 6px;
    	right: 13px;
	    width: 18px;
    	height: 20px;
	    font-size: 0;
    }
    .footer &{
		margin-top: 0;
    }
}
.call-back{
	margin: 15px 0 12px;
	.footer &{
		float: left;
		margin-right: 40px;
		margin-top: 0;
		@media @medium{
			margin-right: 10px;
		}
	}
	.header &{
		@media @mobile_tablet{
			float: right;
		}
	}
}
.bttn{
	border-radius: 19px;
	display: inline-block;
	font-size: 18px;
	padding: 5px 23px;
	&-blue{
		background-color: @blue;
		border-bottom: 3px solid @dark-blue;
		border-top: 0;
	    border-left: 0;
	    border-right: 0;
		color: white !important;		
	}
	&-with-icon{
		padding: 5px 23px 5px 13px;
	}
	& .icon{
		margin-right: 8px;
		vertical-align: middle;
	}
	&:hover{
		text-decoration: none;
		background-color: lighten(@blue, 10%);
	}
	&:active{
		border-color: transparent;
	}
}
.main-nav{
	& li{
		display: inline-block;
		list-style: none;
		font-size: 16px;
		padding: 15px 13px;
		text-transform: uppercase;
		& a{
			color: @text-color;
			&:hover{
				color: @blue;
				text-decoration: none;
			}
		} 
	}
	.footer &{
		& li{
			font-size: 14px;
			padding: 0px 10px 10px 10px;
			width: 170px;
			& a{
				color: @gray-text;
			}
		}
	}
}
.footer{
	background: url(../img/footer.png) no-repeat center bottom white;
}
.decor-line{
	background-color: @blue;
	height: 24px;
	margin-top: -12px;
	width: 100%;
	z-index: 100;
    position: relative;
}
.footer-content{
	padding-top: 40px;
	padding-bottom: 40px;
	.left-side{
		border-right: 1px solid @gray-fon;
	}
	.copyright{
		color: @gray-text;
		font-size: 11px;
		padding-top: 15px;
		@media @mobile{
			padding-bottom: 15px;
		}
	}
	.contact-block{
		color: @gray-text;
		clear: both;
		padding-top: 16px;
		font-size: 14px;
		text-transform: uppercase;
		& a{
			color: @gray-text;
		}
	}
	.right-side{
		padding-left: 40px;
		@media @medium{
			padding-left: 0px;
		}
		@media @mobile{
			padding-left: 0px;
		}
	}
}
.main-content{
	min-height: 600px;
}
.streamer{
	background-position: center;
	background-repeat: no-repeat;
	background-color: @blue;
	color: white;
	padding: 100px 0;
	position: relative;
	height: 700px;
	@media @mobile_tablet{
		padding: 50px 0;
		height: 400px;
	}
	& .h1-title{
		font-family: @font-special;
		font-size: 60px;
		line-height: 1.1;
		margin-left: 20px;
		max-width: 570px;
		@media @mobile_tablet{
			font-size: 32px;
			max-width: 370px;
		}
	}
	& .how-block{
		margin-top: 40px;
		margin-left: 20px;
		& a{
			border: 2px solid white;
			border-radius: 3px;
			color: white;
			font-size: 20px;
			display: inline-block;
			padding: 5px 20px;
			text-transform: uppercase;
			transition: all 0.5s ease-in;
			@media @mobile_tablet{
				font-size: 18px;
			}
			&:hover{
				text-decoration: none;
				background-color: white;
				color: @blue;
			}
		}
	}
	& .v-line{
		height: 17px;
		bottom: 0;
	}
}
.v-line{
	width: 2px;
	left: 50%;
	margin-left: -2px;
	position: absolute;
	&--white{
		background-color: @gray-fon2;
	}
	&--gray{
		background-color: @light-blue;
	}
}
.home-block-1{
	background: url(../img/fon1.png) center;
}
.about-announce{
	position: relative;
	color: @gray-fon;	
	padding: 90px 0 85px;
	text-align: center;
	& .text{
		max-width: 770px;
		margin: 0 auto;
	}
	& .title{
		font-family: @font-special;
		font-size: 26px;		
		font-weight: bold;
	}
	& .v-line-1{
		top: 0;
		height: 76px;
	}
	& .v-line-2{
		bottom: 0;
		height: 70px;
	}

}
.h2-title{
	font-size: 38px;
	font-weight: bold;
	margin: 15px 0;
	text-align: center;
	&--gray{
		color: @light-blue;
	}
	&--white{
		color: @gray-fon;
	}
}
.how-work{
	background-color: @gray-fon;
	padding: 50px 0;
	position: relative;
	
	& .v-line-1{
		top: 0;
		height: 50px;
	}
	& .v-line-2{
		bottom: 0;
		height: 50px;
	}	
	& .how-work-icons{
		overflow: hidden;
		padding: 20px;
	}
	& .icon-block{
		float: left;
		width: 19%;
		@media @mobile_tablet{
			width: 25%;
		}
		& .icon{
			background-position: center;			
			background-repeat: no-repeat;
			height: 140px;
			width: 100%;
			@media @mobile_tablet{
				background-size: contain;
				height: 100px;
			}
			&-1{
				background-image: url(../img/work1.png);
			}
			&-2{
				background-image: url(../img/work2.png);
			}
			&-3{
				background-image: url(../img/work3.png);
			}
			&-4{
				background-image: url(../img/work4.png);
			}
		}
		& .text{
			color: @gray-text2;
			font-size: 18px;
			line-height: 1.2;
			text-align: center;
		}
	}
	& .arrow{
		background: url(../img/arrow-work.png) no-repeat center;
		height: 120px;
		float: left;
		width: 8%;
		@media @mobile_tablet{
			display: none;
		}
	}
}
.home-block-2{
	background: url(../img/fon2.png) center repeat-x @light-blue;
}
.feedback-block-wrap{
	background: url(../img/light-tree.png) right bottom no-repeat @blue;
	padding: 75px 70px;
	position: relative;
	& .v-line-1{
		top: 0;
		height: 25px;
	}
	& .v-line-2{
		bottom: 62px;
		height: 25px;
	}
	& .v-line-3{
		bottom: 0;
		height: 25px;
	}
	& .feedback-block{
		background:  @gray-fon;
		padding: 10px 30px 30px 32px;
		& .form-item{
			border: 2px solid @blue;
			width: 33.33333333%;
			float: left;
			margin-top: -2px;
			margin-right: -2px;
			@media @tablet{
				width: 50%;
			}
			@media @mobile{
				float: none;
				width:  99.5%;
			}
			& input{
				border: none;
				background: transparent;
				color: @light-blue;
				padding: 10px 15px;
				width: 100%;
				&:focus{
					background: @gray-dark;
				}
			}
			&.textarea{
				float: none;
				width: 99.5%;				
				& textarea{
					border: none;
					background: transparent;
					padding: 10px 15px;
					height: 140px;
					width: 100%;
					&:focus{
						background: @gray-dark;
					}
				}
			}
		}
		& .form-actions{
			margin: 20px 0 10px;
			text-align: center;
		}
	}
}
.offer-block{
	color: @gray-fon;
	position: relative;
	padding: 40px 0 50px;
	text-align: center;
	& .v-line-1{
		top: 0;
		height: 24px;
	}
	& .icon{
		background-position: center;
		background-repeat: no-repeat;
		height: 105px;
		width: 105px;
		margin: 5px auto;
		&-1 { background-image: url(../img/offer1.png);}
		&-2 { background-image: url(../img/offer2.png);}
		&-3 { background-image: url(../img/offer3.png);}
	}
	& .title{
		font-size: 26px;
		font-family: @font-special;
		line-height: 1.2;
		max-width: 300px;
    	margin: 0 auto 20px;
	}
	& .text{
		margin-bottom: 20px;
	}
}
.stitches-icon(@x: 0, @y: 0, @width: 0, @height: 0) {
    background-position: @x @y;
    width: @width;
    height: @height;
}
.icon {
    background-image: url(../img/spritesheet.png);    
    background-repeat: no-repeat;
    display: inline-block;
    &.icon-call {
        .stitches-icon(-20px, -20px, 22px, 17px);
    }
    &.icon-search {
        .stitches-icon(-82px, -20px, 19px, 19px);
    }
}
